body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3efef;
}
*{
  padding:0;
  margin:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  
  height:auto;
}
body::-webkit-scrollbar{
  width:0;
}
.heading{
  text-align:center;
  font-size:25px;
  color:black;
  font-weight: 600;
}
.tabs{
  margin-top:30px;
  width:200px;
  margin-left:42%;
  display:flex;
  justify-content: space-between;
}
.tab{
  width:90px;
  height:50px;
  border:1px solid white;
  text-align: center;
  margin-top: auto;
  font-size:20px;
  font-weight:600;
  padding-top:10px;
  background-color: #2185d0;
}
.active-tabs {
  background:white !important;
  color: black;
}

/* --------------------------------TodoCard----------------------------------- */


.todo_card_container {
  margin-left: 35%;
  border: 1px solid white;
  width: 30%;
  display: flex;
  margin-top: 50px;
  height: 100px;
  background-color: white;
  margin-bottom:20px;
}
.left {
  width: 70%;
  border: 1px solid;
}
.taskname {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}
.description {
  margin-left: 20px;
  font-size: 10px;
  color: gray;
  font-weight: 500;
  margin-bottom: 5px;
}
.time {
  margin-left: 20px;
  font-weight: 700;
  color: darkred;
}
.right {
  width: 30%;
  background-color: palegreen;
}
.icon {
  position: relative;
  top: 5%;
  left: 30%;
}
.icon img{
  height: 100px;
    width: 60px;
}



/* --------------------------------ToReadCard----------------------------------- */



.toread_card_container {
  margin-left: 35%;
  border: 1px solid rgb(212, 210, 210);
  width: 30%;
  margin-top: 50px;
  height: 300px;
  background-color: white;
  margin-bottom:20px;
}
.id{
  position:absolute;
  width:50px;
  height:50px;
  text-align:center;
  background-color: coral;
  border:1px solid white;
  color:white;
}
.id span{
  position:relative;
  top:15px;
}
.upper{
  width:100%;
  height:85%;
  
}
.image{
  height:100%;
  width:100%;
  
}
.image img{
  width:100%;
  height:100%;
}

.lower{
  width:100%;
  height:15%;
  display:flex;
 
}
.title{
    font-weight:600;
    width:60%;
    margin-left:30px;
    margin-top:10px;
   
}
.readCardIcon{
  margin-top:10px;
  margin-left:30px;
  width:20%;
  
}
.readCardIcon img{
  height: 30px;
    width: 30px;
    float:right;
}